[Unit]
Description=CEC Daemon for HDMI-CEC control
After=multi-user.target

[Service]
Type=forking
User={USER}
Group={GROUP}
WorkingDirectory={WORK_DIR}
ExecStart={EXECUTABLE_PATH} start
ExecStop={EXECUTABLE_PATH} stop
ExecReload={EXECUTABLE_PATH} restart
PIDFile={WORK_DIR}/cecdaemon.pid
Environment=CECDAEMON_CONFIG_DIR={CONFIG_DIR}
ConfigurationDirectory={CONFIG_DIR}


[Install]
WantedBy=multi-user.target